In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data-cleaning-for-beginners-using-pandas.csv")

In [ ]:
dataset.head(20)

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [ ]:
dataset.isna().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [ ]:
dataset['Age']

0     44.0
1     66.0
2      NaN
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12     NaN
13    25.0
14    66.0
15    44.0
16    19.0
17     NaN
18    35.0
19    32.0
20     NaN
21    35.0
22    19.0
23     NaN
24    13.0
25    55.0
26     NaN
27    52.0
28     NaN
Name: Age, dtype: float64

In [ ]:
avg = dataset['Age'].mean()

In [ ]:
dataset['Age'].fillna(avg)

0     44.000000
1     66.000000
2     39.045455
3     64.000000
4     25.000000
5     44.000000
6     21.000000
7     44.000000
8     35.000000
9     22.000000
10    55.000000
11    44.000000
12    39.045455
13    25.000000
14    66.000000
15    44.000000
16    19.000000
17    39.045455
18    35.000000
19    32.000000
20    39.045455
21    35.000000
22    19.000000
23    39.045455
24    13.000000
25    55.000000
26    39.045455
27    52.000000
28    39.045455
Name: Age, dtype: float64

In [ ]:
dataset['Age'] = dataset['Age'].fillna(avg)

In [ ]:
dataset.isna().sum()

Index          0
Age            0
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [ ]:
dataset['Rating']

0     5.4
1     3.5
2    -1.0
3     4.4
4     6.4
5     1.4
6     0.0
7    -1.0
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13   -1.0
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24   -1.0
25    0.0
26    NaN
27    5.4
28    3.4
Name: Rating, dtype: float64

In [ ]:
dataset['Rating'].fillna('Unknown')

0         5.4
1         3.5
2        -1.0
3         4.4
4         6.4
5         1.4
6         0.0
7        -1.0
8         5.4
9         7.7
10        5.4
11        6.7
12        0.0
13       -1.0
14        4.0
15        3.0
16        4.5
17        5.3
18        6.7
19        3.3
20        5.7
21        5.0
22        7.8
23        2.4
24       -1.0
25        0.0
26    Unknown
27        5.4
28        3.4
Name: Rating, dtype: object

In [ ]:
dataset['Rating'] = dataset['Rating'].fillna('Unknown')

In [ ]:
avg_rating = dataset['Rating'].mode()
avg_rating

0   -1.0
1    5.4
Name: Rating, dtype: object

In [ ]:
dataset['Rating']

0         5.4
1         3.5
2        -1.0
3         4.4
4         6.4
5         1.4
6         0.0
7        -1.0
8         5.4
9         7.7
10        5.4
11        6.7
12        0.0
13       -1.0
14        4.0
15        3.0
16        4.5
17        5.3
18        6.7
19        3.3
20        5.7
21        5.0
22        7.8
23        2.4
24       -1.0
25        0.0
26    Unknown
27        5.4
28        3.4
Name: Rating, dtype: object

In [ ]:
dataset['Rating'] = dataset['Rating'].astype(str).apply(lambda x: x.replace("-1", '5'))
dataset['Rating']

0         5.4
1         3.5
2         5.0
3         4.4
4         6.4
5         1.4
6         0.0
7         5.0
8         5.4
9         7.7
10        5.4
11        6.7
12        0.0
13        5.0
14        4.0
15        3.0
16        4.5
17        5.3
18        6.7
19        3.3
20        5.7
21        5.0
22        7.8
23        2.4
24        5.0
25        0.0
26    Unknown
27        5.4
28        3.4
Name: Rating, dtype: object

In [ ]:
dataset.isna().sum()

Index          0
Age            0
Salary         0
Rating         0
Location       0
Established    0
Easy Apply     0
dtype: int64

In [ ]:
dataset['Established'].value_counts()

Established
 1999    5
-1       5
 1988    2
 2002    2
 1955    1
 1935    1
 1934    1
 1980    1
 1987    1
 1946    1
 1944    1
 1943    1
 1954    1
 1984    1
 2020    1
 2019    1
 2009    1
 2008    1
 1932    1
Name: count, dtype: int64

SALARY FORMATTING

In [ ]:
dataset['Salary'] = dataset['Salary'].apply(lambda x:x.replace("$",''))
dataset['Salary'] = dataset['Salary'].apply(lambda x:x.replace("k",'000'))
dataset['Salary']

0      44000-99000
1      55000-66000
2      77000-89000
3      44000-99000
4      44000-99000
5      77000-89000
6      44000-99000
7      44000-99000
8      44000-99000
9      44000-99000
10     10000-49000
11     10000-49000
12     44000-99000
13     44000-99000
14     44000-99000
15    88000-101000
16     19000-40000
17     44000-99000
18     44000-99000
19     44000-99000
20     44000-99000
21     44000-99000
22     55000-66000
23     44000-99000
24     44000-99000
25     44000-99000
26     55000-66000
27     44000-99000
28     39000-88000
Name: Salary, dtype: object

Location Standardization

In [ ]:
dataset['Location']

0          India,In
1       New York,Ny
2       New York,Ny
3          India In
4     Australia Aus
5          India,In
6       New York,Ny
7     Australia Aus
8       New York,Ny
9          India,In
10         India,In
11         India,In
12         India,In
13    Australia Aus
14    Australia Aus
15    Australia Aus
16         India,In
17      New York,Ny
18      New York,Ny
19      New York,Ny
20      New York,Ny
21      New York,Ny
22      New York,Ny
23      New York,Ny
24      New York,Ny
25    Australia Aus
26         India,In
27         India,In
28    Australia Aus
Name: Location, dtype: object

In [ ]:
dataset['Location'] = dataset['Location'].str.replace('Australia Aus','Australia,Aus')

In [ ]:
dataset['Location'] = dataset['Location'].str.replace('India In','India,In')

In [ ]:
dataset['Location']

0          India,In
1       New York,Ny
2       New York,Ny
3          India,In
4     Australia,Aus
5          India,In
6       New York,Ny
7     Australia,Aus
8       New York,Ny
9          India,In
10         India,In
11         India,In
12         India,In
13    Australia,Aus
14    Australia,Aus
15    Australia,Aus
16         India,In
17      New York,Ny
18      New York,Ny
19      New York,Ny
20      New York,Ny
21      New York,Ny
22      New York,Ny
23      New York,Ny
24      New York,Ny
25    Australia,Aus
26         India,In
27         India,In
28    Australia,Aus
Name: Location, dtype: object

In [ ]:
dataset['New_Location'] = dataset['Location'].str.split(",",expand=True).get(0)
dataset.head()

,Index,Age,Salary,Rating,Location,Established,Easy Apply,New_Location
0,0,44.000000,44000-99000,5.4,"India,In",1999,TRUE,India
1,1,66.000000,55000-66000,3.5,"New York,Ny",2002,TRUE,New York
2,2,39.045455,77000-89000,5.0,"New York,Ny",-1,-1,New York
3,3,64.000000,44000-99000,4.4,"India,In",1988,-1,India
4,4,25.000000,44000-99000,6.4,"Australia,Aus",2002,-1,Australia

In [ ]:
dataset.describe()

           Index        Age  Established
count  29.000000  29.000000    29.000000
mean   14.000000  39.045455  1638.620690
std     8.514693  13.973131   762.079599
min     0.000000  13.000000    -1.000000
25%     7.000000  32.000000  1935.000000
50%    14.000000  39.045455  1984.000000
75%    21.000000  44.000000  1999.000000
max    28.000000  66.000000  2020.000000

In [ ]:
dataset.shape

(29, 8)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Index         29 non-null     int64
 1   Age           29 non-null     float64
 2   Salary        29 non-null     object
 3   Rating        29 non-null     object
 4   Location      29 non-null     object
 5   Established   29 non-null     int64
 6   Easy Apply    29 non-null     object
 7   New_Location  29 non-null     object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.9+ KB

In [ ]:
dataset.head()

,Index,Age,Salary,Rating,Location,Established,Easy Apply,New_Location
0,0,44.000000,44000-99000,5.4,"India,In",1999,TRUE,India
1,1,66.000000,55000-66000,3.5,"New York,Ny",2002,TRUE,New York
2,2,39.045455,77000-89000,5.0,"New York,Ny",-1,-1,New York
3,3,64.000000,44000-99000,4.4,"India,In",1988,-1,India
4,4,25.000000,44000-99000,6.4,"Australia,Aus",2002,-1,Australia

In [ ]:
mode_est = dataset['Established'].mode()
mode_est

0      -1
1    1999
Name: Established, dtype: int64

In [ ]:
dataset.loc[dataset['Established'] == -1, 'Established'] = 1999

In [ ]:
dataset.head()

,Index,Age,Salary,Rating,Location,Established,Easy Apply,New_Location
0,0,44.000000,44000-99000,5.4,"India,In",1999,TRUE,India
1,1,66.000000,55000-66000,3.5,"New York,Ny",2002,TRUE,New York
2,2,39.045455,77000-89000,5.0,"New York,Ny",1999,-1,New York
3,3,64.000000,44000-99000,4.4,"India,In",1988,-1,India
4,4,25.000000,44000-99000,6.4,"Australia,Aus",2002,-1,Australia

In [ ]:
dataset['Easy Apply'] = dataset['Easy Apply'].astype(str).apply(lambda x: x.replace("-1", 'FALSE'))

In [ ]:
dataset.head(10)

,Index,Age,Salary,Rating,Location,Established,Easy Apply,New_Location
0,0,44.000000,44000-99000,5.4,"India,In",1999,TRUE,India
1,1,66.000000,55000-66000,3.5,"New York,Ny",2002,TRUE,New York
2,2,39.045455,77000-89000,5.0,"New York,Ny",1999,FALSE,New York
3,3,64.000000,44000-99000,4.4,"India,In",1988,FALSE,India
4,4,25.000000,44000-99000,6.4,"Australia,Aus",2002,FALSE,Australia
5,5,44.000000,77000-89000,1.4,"India,In",1999,TRUE,India
6,6,21.000000,44000-99000,0.0,"New York,Ny",1999,FALSE,New York
7,7,44.000000,44000-99000,5.0,"Australia,Aus",1999,FALSE,Australia
8,8,35.000000,44000-99000,5.4,"New York,Ny",1999,FALSE,New York
9,9,22.000000,44000-99000,7.7,"India,In",1999,TRUE,India